@font-face {
    font-family: 'Custom-Machine-Font';
    src: url('fonts/maszyna.TTF');
}
.table{
    background-color: rgba(0,0,0,0.3);
    width: 500px;
    min-height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 15px;
    object-fit: cover;
    margin: 40px 50px;
    padding-top: 45px;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.table-title{
    font-size: 45px;
    width: 100%;
    text-align: center;
}
.ratio-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    &:focus-within, &:hover{
        .ratio-input{
            border-bottom: 3px solid wheat;
            font-weight: bold;
            transform: scale(1.2);
            transition-duration: 0.5s;
        }
        .ratio-label{
            font-weight: bold;
            transform: scale(1.2);
            transition-duration: 0.5s;
        }
    }
}
.ratio-label{
    font-family: 'Custom-Machine-Font';
    font-size: 25px;
}
.ratio-input{
    background: none;
    border: none;
    border-bottom: 2px solid wheat;
    color: wheat;
    font-size: 25px;
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
    outline: none;
    font-family: 'Custom-Machine-Font';
}
.ratio-package{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100%;
    padding-top: 30px;
}